{% extends "common/head.html" %}


{% block column_1 %}
    <h2>Create a New Project:</h2>
    <p>
        Use the form to create a new project, giving it a name and description.
        The dropdown to the far left contains current projects.
    </p>
{% endblock %}

{% block column_2 %}
    <h2>Add Project</h2>
    <form method="post">
        <fieldset>  
            {{form.name.label }}: {{form.name}}
        </fieldset>
        <fieldset>
            {{form.description.label }}: {{form.description}}
        </fieldset>
        <fieldset>
            {{form.submit (class = "btn btn-add")}}
        </fieldset>
    </form>
    
{% endblock %}

{% block column_3 %}
<form method="post">
    <fieldset>
        <h2>Current Projects:</h2>
        <div class="dropdown">
            {{form2.project_choices}}
        </div>
    </fieldset>
    <fieldset>
        {{form2.delete_project (class = "btn btn-delete")}}
    </fieldset>
    {% if get_flashed_messages()%}
    <div class = "message">
        {% for message in get_flashed_messages() %}
        <p>{{message}}</p>
        {% endfor %}
    </div>
    {% endif %}
</form>
{% endblock %}