{% extends "common/head.html" %}


{% block column_1 %}
    <h2>Milestones</h2>
    <p>
        Add a milestone, description and link to a project
    </p>
{% endblock %}

{% block column_2 %}
<form method="post">
    <fieldset>
        {{form.name.label}}
        {{form.name}}
        {{form.description.label}}
        {{form.description}}
    </fieldset>
    <fieldset>
        <div class="dropdown">
            {{form.link_project.label}}
            {{form.link_project}}
        </div>
    </fieldset>
    <fieldset>
        {{form.submit (class = "btn btn-add")}}
    </fieldset>
</form>
{% endblock %}

{% block column_3 %}
<form method="post">
    <h2>Current Milestones</h2>
    <fieldset>
        <div class="dropdown">
            {{form2.milestone_choices}}
        </div>

    </fieldset>
    <fieldset>
        {{form2.delete_milestone (class = "btn btn-delete")}}
    </fieldset>
    {% if get_flashed_messages()%}
    <div class = "message">
        {% for message in get_flashed_messages() %}
        <p>{{message}}</p>
        {% endfor %}
    </div>
    {% endif %}
</form>
{% endblock %}