{% extends "common/head.html"%}

{% block title %}
    <title>Waystone Home</title>
{% endblock %}

{% block column_1 %}
    <h1>Welcome to Waystone</h1>
    <p>Waystone is a simple web application that allows users to create, read, update, and delete notes.</p>
{% endblock %}

{% block column_2 %}
    <h2>Features</h2>
    <ul>
        <li>Create notes</li>
        <li>Read notes</li>
        <li>Update notes</li>
        <li>Delete notes</li>
    </ul>
{% endblock %}

{% block column_3 %}
    <h2>Get Started</h2>
    <p>Click on the "Notes" link in the navigation bar to view your notes or create a new note.</p>
{% endblock %}