:root {
    --color-background: #faf0ca;
    --color-box: #ee964b;
    --color-add: #0d3b66;
    --color-delete: #f95738;
    --color-edit: #f4d35e;
}

html {
    font-family: "Roboto", sans-serif;

    font-style: normal;

}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: var(--color-background);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--color-box);
    padding: 2rem;
    margin-bottom: 2rem;
}

div {
    display: flex;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

.columns {
    flex-direction: row;
    justify-content: space-around;
}

.column {
    flex-direction: column;
    border: 0.15rem solid black;
    border-radius: 1rem;
    background: var(--color-box);
    width: 20rem;
    text-align: center;
    padding: 1rem;
}

.btn {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.btn-add {
    background: var(--color-add);
    color: white;
}

.btn-delete {
    background: var(--color-delete);
    color: white;
}

.dropdown select {
    max-width: 100%; /* Prevents the select box from exceeding the width of its container */
    width: 100%; /* Ensures the select box takes up the full width of its container */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    border-radius: 0.2rem;
}

input {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 0.15rem solid black;
}